---
title: Portfolio
layout: default
---

<section>
<h1>Projects</h1>
<p>These are the projects that I've developed in the past; click on each card to know more.</p>
	<div class="row row-cols-1 row-cols-md-4 g-4">
		{% for project in site.projects %}
		<div class="col">
			<div class="card shadow h-100">
				<img src="{{project.preview}}" class="card-img-top">
				<div class="card-body">
						<h2 class="card-title">{{project.title}}</h2>
						<p class="card-text">{{project.short-description}}</p>
				</div>
				<div class="p-4 text-end">
					<a href="{{project.url}}" class="btn btn-primary stretched-link">Read more</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<br>
<section>
<h1>Samples & Experiments</h1>
	<div class="row row-cols-2 row-cols-md-4 g-2">
		{% for sample in site.experiments %}
		<div class="ratio ratio-1x1">
			<img src="{{sample.preview}}" class="img-fluid ratio ratio-1x1">
		</div>
		{% else %}
			{% for i in (1..7) %}
			<div class="col">
				<div class="ratio ratio-1x1">
					<svg>
						<rect width="100%" height="100%" style="fill:gray;"></rect>
						<text x="50%" y="50%" text-anchor="middle" style="fill: white;">Samples coming soon</text>
					</svg>
				</div>
			</div>
			{% endfor %}
		{% endfor %}
	</div>
</section>
<br>
<section>
<h1>Tools</h1>
<ul>
	<li><p>Gradient Strip Exporter</p></li>
</ul>
</section>
<br>
