$header-font: 'Poppins', sans-serif;
$body-font: 'Open Sans', sans-serif;

:is(h1,h2,h3,h4,h5,h6) {
	font-family: $header-font;
}

:is(body, p) {
	font-family: $body-font;
	line-height: 2;
}

img.cover-image {
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}