@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.0rem;
  line-height: 2;
  margin: 0;
  min-height: 100%;
}

p {
	font-family: 'Open Sans', sans-serif;
}

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  	background-color: #333333;
	border-radius: 15px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffdd00;
  color: black;
}